@{
    ViewData["Title"] = "Cardápio Digital - Painel ADMIN";
}

<header>
    <nav class="painelAdmin">
        <h3>Cardápio Digital - Painel ADMIN</h3>
    </nav>
</header>
<div class="containerCard">
    <a asp-controller="Produtos">
        <div class="divCard">
            <h3>Produtos</h3>
            <p>Adicionar +</p>
        </div>
    </a>
</div>